.sign-up-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; /* Background color for the entire page */
}

.sign-up-card {
  width: 400px; /* Width of the card */
}

.sign-up-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px; /* Spacing between inputs */
  background-color: #f9f9f9; /* Light background for input fields */
  color: #333; /* Text color for input fields */
  transition: border-color 0.2s;
}

.sign-up-input:focus {
  border-color: #888; /* Focused border color */
  outline: none; /* Remove default outline */
}

.sign-up-button {
  background-color: #333; /* Button background color */
  color: white; /* Button text color */
  font-size: 16px; /* Font size for button text */
  border: none; /* Remove default border */
  border-radius: 5px; /* Round the corners */
  cursor: pointer; /* Change cursor to pointer */
}

.sign-up-button:hover {
  background-color: #555; /* Slightly lighter background on hover */
}

.sign-up-footer {
  color: #888; /* Footer text color */
  font-size: 14px; /* Font size for footer */
}

.sign-up-link {
  color: #aaa; /* Link color */
  cursor: pointer; /* Change cursor to pointer for link */
}

.sign-up-link:hover {
  color: #fff; /* Change link color on hover */
}
